*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
.central{
  width:600px;
  margin: 0 auto; 
}
.central> p,
 fieldset>p{
    background-color: rgb(42, 207, 172);
    text-align: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
fieldset{
background-color:#e2f7fc; 
text-align: center;
padding: 10px; 

}
